.form-signin-heading {
    margin-bottom: 10px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 120%;
    /* background: #1690a7; */
    /* background-image: url("four.jpg"); */
    background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(four.jpg);
}

.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: black;
    text-align: center;
    border: 1px solid #b0c4de;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

form {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #b0c4de;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.input {
    margin: 10px 0px 10px 0px;
}

.input label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: black;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: .7;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}